body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.main_section {
  position: relative;
  background: #ffffff;
}

.main_banner {
  background: url(./images/reel_background.png);
  position: absolute;
  width: 1139px;
  height: 685px;
  left: 301px;
  top: -1px;
}

.main_text {
  position: absolute;
  width: 721px;
  height: 100px;
  left: 280px;
  top: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 88px;
  line-height: 105.3%;
  color: #ffffff;
}

.main_para {
  position: absolute;
  width: 531px;
  height: 29px;
  left: 280px;
  top: 174px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 105.3%;
  color: #fff;
}

.sub_para {
  position: absolute;
  width: 406px;
  height: 136px;
  left: 280px;
  top: 272px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 137%;
  color: #fff;
}

.social_links_main {
  position: absolute;
  width: 800px;
  height: 51px;
  left: 280px;
  top: 417px;
  background: #ffffff;
  border-radius: 60px;
}

.social_links_main .in_text {
  position: absolute;
  width: 254px;
  height: 34px;
  left: 25px;
  top: 17px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  color: #4f5461;
}

.social_links_main .social_links {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 34px;
  left: 367px;
  top: 6px;
  font-size: 18px;
}

.social_links_main .social_links .links {
  font-size: 12px;
  padding-right: 12px;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.social_links_main .social_links .links .links:hover {
  color: #fff;
}

.social_links_main .social_links .links img {
  height: 40px;
}

.tooltip {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.8rem 1rem;
  border-radius: 40px;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0;
  pointer-events: none;
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  color: #fff;
  font-family: Roboto;
}

.tooltip:after {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  content: "";
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

.links:hover .tooltip {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}

.angelist_link img {
  border-radius: 50%;
}

.insta_link img {
  border-radius: 50%;
}

.header_logo {
  position: absolute;
  width: 51px;
  height: 51px;
  left: 81px;
  top: 38px;
  border-radius: 50%;
  background: #4456fb;
}

.header_logo .logo {
  position: absolute;
  width: 43px;
  height: 29px;
  left: 6px;
  top: -12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 105.3%;
  color: #fff;
}

.header_navs {
  position: absolute;
  width: 193px;
  height: 276px;
  left: 90px;
  top: 215px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 338.5%;
  display: -ms-grid;
  display: grid;
  color: #4456fb;
}

nav.header_navs a {
  position: relative;
}

nav.header_navs a {
  -webkit-transition: all 1s;
  transition: all 1s;
}

nav.header_navs a:hover {
  color: #b28dc7;
  z-index: 1;
}

nav.header_navs a:hover::after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

nav.header_navs a:active {
  background: #e8effa;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */