@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	position: relative;
	height: 100%;

	background: #ffffff;
}

a {
	text-decoration: none;
}

.main_section {
	position: relative;
	background: #ffffff;
}

.main_banner {
	background: url(./images/reel_background.png);
	position: absolute;
	width: 1122px;
	height: 685px;
	left: 301px;
	top: -20px;
}

.main_text {
	position: absolute;
	width: 721px;
	height: 100px;
	left: 280px;
	top: 40px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 88px;
	line-height: 105.3%;
	color: #ffffff;
}

.main_para {
	position: absolute;
	width: 531px;
	height: 29px;
	left: 280px;
	top: 174px;

	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 105.3%;
	color: #fff;
}

.sub_para {
	position: absolute;
	width: 406px;
	height: 136px;
	left: 280px;
	top: 272px;

	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 137%;
	color: #fff;
}

.social_links_main {
	position: absolute;
	width: 800px;
	height: 51px;
	left: 280px;
	top: 435px;

	background: #ffffff;
	border-radius: 60px;

	.in_text {
		position: absolute;
		width: 254px;
		height: 34px;
		left: 25px;
		top: 17px;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 19px;
		color: #4f5461;
	}

	.social_links {
		position: absolute;
		display: flex;
		justify-content: space-between;
		height: 34px;
		left: 367px;
		top: 6px;
		font-size: 18px;
		.links {
			font-size: 12px;
			padding-right: 12px;
			transition: all 0.15s ease;

			.links:hover {
				color: #fff;
			}
			img {
				height: 40px;
			}
		}
	}
}

.tooltip {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	padding: 0.8rem 1rem;
	border-radius: 40px;
	font-size: 0.8rem;
	font-weight: bold;
	opacity: 0;
	pointer-events: none;
	text-transform: uppercase;
	transform: translate(-50%, -100%);
	transition: all 0.3s ease;
	z-index: 1;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.tooltip:after {
	display: block;
	position: absolute;
	bottom: 1px;
	left: 50%;
	width: 0;
	height: 0;
	content: "";
	border: solid;
	border-width: 10px 10px 0 10px;
	border-color: transparent;
	transform: translate(-50%, 100%);
}

.links:hover .tooltip {
	visibility: visible;
	opacity: 1;
	transform: translate(-50%, -150%);
}

.angelist_link {
	img {
		border-radius: 50%;
	}
}

.insta_link {
	img {
		border-radius: 50%;
	}
}

.header_logo {
	position: absolute;
	width: 51px;
	height: 51px;
	left: 81px;
	top: 38px;
	border-radius: 50%;
	background: #4456fb;
	.logo {
		.logo_link {
			position: absolute;
			width: 43px;
			height: 29px;
			left: 6px;
			top: 10px;
			font-family: 'Poppins', sans-serif;
			font-style: normal;
			font-weight: 800;
			font-size: 28px;
			line-height: 105.3%;
			color: #fff;
		}
	}
}

.header_navs {
	position: absolute;
	width: 193px;
	height: 276px;
	left: 90px;
	top: 215px;

	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 338.5%;
	display: grid;
	color: #4456fb;
}

nav.header_navs a {
	position: relative;
}

nav.header_navs a {
	transition: all 1s;
}

nav.header_navs a:hover {
	color: rgb(178, 141, 199);
	z-index: 1;
}

nav.header_navs a:hover::after {
	z-index: -10;
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
	-moz-animation: fill 1s forwards;
	opacity: 1;
}

nav.header_navs a:active {
	background: #e8effa;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sub_heading {
	position: absolute;
	width: 531px;
	height: 29px;
	left: 579px;
	top: 710px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 105.3%;

	color: #4f5461;
}

.portfolio_display {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.portfolio_1 {
	position: absolute;
	width: 400px;
	height: 280px;
	left: 579px;
	top: 788px;

	background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(./images/Rectangle_25.png);
	border: 1px solid rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
	border-radius: 10px;

	.portfolio_title {
		position: absolute;
		width: 65px;
		height: 21px;
		left: 22px;
		top: 28px;

		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 105.3%;
		color: #ffffff;
	}
}

.tech_1 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #e6e9f0;

	position: absolute;
	width: 89px;
	height: 40px;
	left: 22px;
	top: 70px;

	background: #4f5461;
	border-radius: 40px;
}

.tech_2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #e6e9f0;

	position: absolute;
	width: 110px;
	height: 40px;
	left: 136px;
	top: 70px;

	background: #4f5461;
	border-radius: 40px;
}

.tech_3 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #e6e9f0;

	position: absolute;
	width: 98px;
	height: 40px;
	left: 266px;
	top: 70px;

	background: #4f5461;
	border-radius: 40px;
}

.description {
	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 3rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all 0.2s;
		position: absolute;
		font-size: 16px;
		border: none;
		cursor: pointer;
		top: 209px;
		left: 25px;
		height: 17px;
		width: 129px;
		background: #4456fb;
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 .6rem .8rem rgba(0, 0, 0, 0.2);

		&::after {
			transform: scaleX(1) scaleY(1.2);
			opacity: 0;
		}
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(-1px);
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
	}
}

.desc_link a {
	font-family: 'Poppins', sans-serif;
	color: #fff;
	text-align: center;
	top: 23px;
	font-weight: bold;
	font-style: normal;
	font-size: 14px;
	line-height: 105.3%;
}

.pointer {
	position: absolute;
	width: 74.89px;
	height: 56.23px;
	left: 305px;
	top: 217px;

	// background: url(./images/pionting.png);
}

.portfolio_2 {
	position: absolute;
	width: 400px;
	height: 280px;
	left: 944px;
	top: 788px;
	margin-left: 50px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(./images/Rectangle_26.png);
	border-radius: 10px;
	.portfolio_title_2 {
		position: absolute;
		width: 65px;
		height: 21px;
		left: 22px;
		top: 28px;

		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 105.3%;
		color: #ffffff;
	}
}

.portfolio_3 {
	position: absolute;
	width: 400px;
	height: 280px;
	left: 579px;
	top: 1085px;

	background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%), url(./images/Rectangle_27.png);
	border-radius: 10px;

	.portfolio_title_3 {
		position: absolute;
		width: 65px;
		height: 21px;
		left: 22px;
		top: 28px;

		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 105.3%;
		color: #ffffff;
	}
}

.portfolio_4 {
	position: absolute;
	width: 400px;
	height: 280px;
	left: 944px;
	top: 1085px;
	margin-left: 50px;

	background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%), url(./images/Rectangle_28.png);
	border-radius: 10px;

	.portfolio_title_4 {
		position: absolute;
		width: 65px;
		height: 21px;
		left: 22px;
		top: 28px;

		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 105.3%;
		color: #ffffff;
	}
}

.portfolio_5 {
	position: absolute;
	width: 400px;
	height: 280px;
	left: 579px;
	top: 1382px;

	background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%), url(./images/Rectangle_29.png);
	border-radius: 10px;

	.portfolio_title_5 {
		position: absolute;
		width: 65px;
		height: 21px;
		left: 22px;
		top: 28px;

		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 105.3%;
		color: #ffffff;
	}
}

.portfolio_6 {
	position: absolute;
	width: 406px;
	height: 280px;
	left: 944px;
	top: 1382px;
	margin-left: 50px;
	background: url(./images/Rectangle_30.png);
	border-radius: 10px;

	.portfolio_title_6 {
		position: absolute;
		width: 65px;
		height: 21px;
		left: 22px;
		top: 28px;

		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 105.3%;
		color: #ffffff;
	}
}

// About Me section

.sub_heading1 {
	position: absolute;
	width: 531px;
	height: 29px;
	left: 579px;
	top: 1762px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 105.3%;

	color: #4f5461;
}

.about_me_para {
	width: 405px;
	height: 111px;
	left: 579px;
	top: 1814px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	color: #737986;
	position: absolute;
}

.get_resume_btn {
	position: absolute;
	width: 225px;
	height: 59px;
	left: 579px;
	top: 2060px;

	background: #4456fb;
	border-radius: 60px;
	transition: all 0.14s ease;
}

.btn_resume {
	position: absolute;
	width: 182px;
	height: 36px;
	left: 579px;
	top: 2060px;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 105.3%;
	text-align: center;
	color: #ffffff;
	padding-top: 20px;
}

.btn_resume:hover {
	background: #7cb1ff;
}

.skillset {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	.languages {
		position: absolute;
		width: 90px;
		height: 23px;
		left: 60px;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 105.3%;
		color: #4f5461;
	}
}

.main_lang {
	position: absolute;
	width: 266px;
	height: 390px;
	left: 579px;
	top: 2169px;

	background: #f5f8fd;
	border-radius: 10px;
}
.languages p {
	width: 211px;
	left: 600px;
	top: 2166px;

	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 242.5%;
	color: #737986;
}

.main_frame {
	position: absolute;
	width: 266px;
	height: 390px;
	left: 863px;
	top: 2169px;

	background: #f5f8fd;
	border-radius: 10px;

	.frameworks {
		position: absolute;
		width: 90px;
		height: 23px;
		left: 60px;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 105.3%;
		color: #4f5461;
	}
}

.frameworks p {
	width: 211px;
	left: 600px;
	top: 2166px;

	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 242.5%;
	color: #737986;
}

.main_skills {
	position: absolute;
	width: 266px;
	height: 390px;
	left: 1147px;
	top: 2169px;

	background: #f5f8fd;
	border-radius: 10px;

	.skills {
		position: absolute;
		width: 90px;
		height: 23px;
		left: 60px;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 105.3%;
		color: #4f5461;
	}
}

.skills p {
	width: 211px;
	left: 600px;
	top: 2166px;

	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 242.5%;
	color: #737986;
}

.colabo_header {
	position: absolute;
	width: 531px;
	height: 29px;
	left: 579px;
	top: 2652px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 105.3%;

	color: #4f5461;
}

.colabo_para {
	position: absolute;
	width: 590px;
	height: 84px;
	left: 579px;
	top: 2703px;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	line-height: 24px;
	color: #737986;
}

.main_footer {
	background: url(./images/footer_banner.png);
	position: absolute;
	width: 1122px;
	height: 685px;
	left: 301px;
	top: 2730px;
}

.name {
	position: absolute;
	width: 332px;
	height: 59px;
	left: 270px;
	top: 94px;
	padding: 20px;
	background: #ffffff;
	border: 1px solid #accdff;
	box-sizing: border-box;
	box-shadow: 0px 7px 15px rgba(95, 104, 186, 0.13);
	border-radius: 14px;
}

.email {
	position: absolute;
	width: 323px;
	height: 59px;
	left: 629px;
	top: 94px;
	padding: 20px;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.07);
	box-sizing: border-box;
	box-shadow: 0px 7px 15px rgba(95, 104, 186, 0.13);
	border-radius: 14px;
}

textarea {
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	padding: 0px;
	color: rgb(117, 117, 117);
}

.messages {
	position: absolute;
	width: 672px;
	height: 185px;
	left: 270px;
	top: 183px;

	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.07);
	box-sizing: border-box;
	box-shadow: 0px 7px 15px rgba(95, 104, 186, 0.13);
	border-radius: 14px;
}

.get_in_touch_btn {
	position: absolute;
	width: 242px;
	height: 59px;
	left: 517px;
	top: 2917px;
	transition: all 0.14s ease;
	background: #fa4969;
	border-radius: 60px;
}

.btn_get_in_touch {
	position: absolute;
	width: 182px;
	height: 36px;
	left: 270px;
	top: 420px;
	padding-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 105.3%;
	text-align: center;
	color: #ffffff;
}

.btn_get_in_touch:hover {
	background: #ff869c;
}

.gmail {
	position: absolute;
	width: 177px;
	height: 34px;
	left: 834px;
	top: 500px;

	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;

	color: #c5cbfe;
}

.social_links_footer {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 28px;
	left: 711px;
	top: 560px;
	font-size: 18px;

	.github {
		font-size: 12px;
		padding-right: 12px;
	}
}

.github img {
	font-size: 12px;
	height: 27px;
}

.angelist img {
	fill: #fff;
	background: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 27px;
	width: 27px;
	padding-right: 2px;
}

.line_vector {
	position: absolute;
	width: 756px;
	height: 0px;
	left: 258px;
	top: 615px;

	border: 1px solid #6877ff;
}

.copy_right {
	position: absolute;
	width: 173px;
	height: 30px;
	left: 578px;
	top: 36px;

	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: right;

	color: #c5cbfe;
}

.popup {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(rgba(90, 88, 88, 0), .8);
	z-index: 99999;
	opacity: 0;
	visibility: hidden;
	transition: all .5s;

	&:target {
		opacity: 1;
		visibility: visible;
	}

	&:target &_content {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	&_close {
		&:link,
		&:visited {
			background-color: #7cb1ff;
			transition: all .2s;
		}

		&:hover {
			color: #fa4969;
		}
	}

	&_content {
		width: 60%;
		height: 42rem;
		background-color: #fff;
		box-shadow: 0 2rem 4rem rgba(#030303, .2);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(.5);
		transition: all .4s .2s;
		border-radius: 3px;
		opacity: 0;
	}
}

.popup_img {
	background: url(./images/popup1.png);
	position: absolute;
	width: 100%;
	height: 25rem;
	left: 0px;
	top: 0px;
	background-size: contain;
}

.popup_close img {
	left: 830px;
	top: -7px;
	height: 40px;
	width: 40px;
	position: absolute;
	border-radius: 70px;
}

.preview_pages {
	display: flex;
	justify-content: space-between;
	align-content: center;

	.popup_pages img {
		position: absolute;
		width: 91px;
		height: 63px;
		left: 69px;
		top: 384px;
		border: 3px solid #f9855b;
		box-sizing: border-box;
		filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.35));
		border-radius: 6px;
	}
}

.popup_pages1 img {
	position: absolute;
	width: 91px;
	height: 63px;
	left: 170px;
	top: 384px;
	border: 3px solid #f9855b;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.35));
	border-radius: 6px;
}
.popup_pages2 img {
	position: absolute;
	width: 91px;
	height: 63px;
	left: 270px;
	top: 384px;
	border: 3px solid #f9855b;
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.35));
	border-radius: 6px;
}

.live_btns {
	display: flex;
	justify-content: center;
	align-content: center;
	position: absolute;
	width: 178px;
	height: 58px;
	left: 443px;
	top: 384px;

	background: #fa4969;
	border-radius: 60px;
}

.see_live a {
	position: absolute;
	width: 182px;
	height: 30px;
	left: 49px;
	top: 15px;

	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 105.3%;

	display: flex;
	align-items: center;
	text-align: center;

	color: #ffffff;
}

.open_live img {
	position: absolute;
	width: 22px;
	height: 22px;
	left: 69px;
	top: 3px;
	color: #fff;
	font-weight: bold;

	// border: 2px solid #ffffff;
}

.live_btns1 {
	display: flex;
	justify-content: center;
	align-content: center;
	position: absolute;
	width: 187px;
	height: 58px;
	left: 637px;
	top: 384px;

	background: #fa4969;
	border-radius: 60px;
}

.see_live1 a {
	position: absolute;
	width: 182px;
	height: 30px;
	left: 45px;
	top: 15px;

	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 105.3%;

	display: flex;
	align-items: center;
	text-align: center;

	color: #ffffff;

	.see_live1 a:hover {
		background-color: #ff869c;
	}
}

.open_live1 img {
	position: absolute;
	width: 22px;
	height: 22px;
	left: 85px;
	top: 3px;
	color: #fff;
	font-weight: bold;
}

.pop_h2 {
	position: absolute;
	width: 128px;
	height: 29px;
	left: 353px;
	top: 503px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 105.3%;
	color: #4f5461;
}

.poptech {
	position: absolute;
	width: 81px;
	height: 21px;
	left: 339px;
	top: 560px;

	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	/* identical to box height */

	text-align: center;

	color: #e6e9f0;
}

.tech_1_pop {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #e6e9f0;

	position: absolute;
	width: 89px;
	height: 40px;
	left: 349px;
	top: 556px;

	background: #4f5461;
	border-radius: 40px;
}

.tech_2_pop {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #e6e9f0;

	position: absolute;
	width: 110px;
	height: 40px;
	left: 442px;
	top: 556px;

	background: #4f5461;
	border-radius: 40px;
}

.tech_3_pop {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #e6e9f0;

	position: absolute;
	width: 98px;
	height: 40px;
	left: 556px;
	top: 556px;

	background: #4f5461;
	border-radius: 40px;
}

.pop_details {
	position: absolute;
	width: 620px;
	height: 141px;
	left: 350px;
	top: 610px;

	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 120%;
	/* or 17px */

	color: #737986;
}

.mobile_header {
	display: none;
}

// Mobile View
@media (max-width: 600px) {
	body {
		margin: -16px;
		padding: 0;
	}
	.main_section {
		display: none;
	}

	.mobile_header {
		display: flex;
	}
	.nav_mobile {
		position: absolute;
		width: 1431px;
		height: 1238px;
		left: 0px;
		top: -1px;

		background: linear-gradient(248.05deg, #ae5bd6 24.1%, #4052f0 99.44%);
		background-blend-mode: screen;
		opacity: 0.8;
		z-index: 10;
	}

	.mobile_header {
		display: flex;
		position: absolute;
		width: 1263px;
		height: 750px;
		left: -11px;
		top: -1px;
		// background: url(./images/mob-ex1.png);
		// background-repeat: no-repeat;
		// opacity: 0.8;
		background-size: cover;
	}

	.mobile_logo {
		position: absolute;
		width: 160px;
		height: 160px;
		left: 106px;
		top: 49px;
		border-radius: 50%;
		background-color: #440deb;
	}

	.mb_logo {
		position: absolute;
		width: 32px;
		height: 21.58px;
		left: 22.86px;
		top: 28.84px;
		font-family: 'Poppins', sans-serif;
		font-style: normal;
		font-weight: bolder;
		font-size: 87px;
		line-height: 105.3%;
		color: #ffffff;
	}

	.right_nav_links {
		position: absolute;
		width: 224px;
		height: 32px;
		left: 308px;
		top: 26px;
		font-family: 'Sora', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 338.5%;
		color: #ffffff;
		display: flex;
		transition: all ease .3s;

		.mobile_nav_links {
			width: 224px;
			height: 32px;
			left: 521px;
			top: 101px;
			font-family: 'Sora', sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 63px;
			line-height: 338.5%;
			color: #ffffff;
			padding-left: 90px;
		}
	}

	.mobile_name {
		position: absolute;
		width: 1109px;
		height: 43px;
		left: 147px;
		top: 210px;
		font-family: 'Sora', sans-serif;
		font-style: normal;
		font-weight: 800;
		font-size: 108px;
		line-height: 105.3%;
		color: #ffffff;
	}
	.mobile_name1 {
		position: absolute;
		width: 1046px;
		height: 29px;
		left: 129px;
		top: 385px;
		font-family: 'Sora', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 78px;
		line-height: 105.3%;
		color: #ffffff;
	}

	.mob_para {
		position: absolute;
		width: 1254px;
		height: 136px;
		left: 110px;
		top: 534px;
		font-family: 'Sora', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 38px;
		line-height: 47px;
		color: #ffffff;
	}

	.socials_mob {
		position: absolute;
		width: 1250px;
		height: 305px;
		left: 104px;
		top: 876px;
		background: #ffffff;
		border-radius: 20px;
	}

	.my_works {
		position: absolute;
		width: 862px;
		height: 34px;
		left: 60px;
		top: 36px;
		font-family: 'Sora', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 45px;
		line-height: 20px;
		color: #4f5461;
	}

	.mob_social_links {
		display: flex;
		justify-content: center;
		align-items: center;
		top: 168px;
		left: 24px;
		position: absolute;

		.mob_sub_links {
			padding-left: 42px;
		}
	}

	.mob_sub_links img {
		height: 100px;
	}

	.portfolio_sect {
		position: absolute;
		top: 670px;
	}

	.sub_heading {
		position: absolute;
		width: 743px;
		height: 29px;
		left: 150px;
		top: 710px;
		font-family: 'Roboto', sans-serif;
		font-style: normal;
		font-weight: bold;
		font-size: 80px;
		line-height: 105.3%;
		color: #4f5461;
	}

	.portfolio_display {
		display: flex;
		flex-direction: column;
	}
}
